/* You can add global styles to this file, and also import other style files */
.red {
  color: red;
}

.green {
  color: green;
}

.light-blue {
  color: lightblue;
}

.light-green {
  color: lightgreen;
}

.light-red {
  color: #EE9090FF;
}

.yellow {
  color: yellow;
}

.light-yellow {
  color: lightyellow;
}

.blue {
  color: blue;
}
